body{
    margin: 0; padding: 0;
    height: 100%; width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.full{
    height: 100%; width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
.full input, .full textarea{
    width: 100%;
    box-sizing: border-box;
}
input, textarea{
    padding: 0.2em 0.5em;
    margin: 0.2em 0;
}
input[type="button"]{
    color: #fff;
    background-color: #337ab7;
    background-image: none;
    border-color: #2e6da4;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: 1px solid transparent;
}
.full textarea{
    min-height: 5em;
}

.switch{
    display: none;
}
.switch.on{
    display: block;
}
#errors-list{
    color: darkred;
}
